<html>

<head>
  <title>发起群聊</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.base %>static/css/base.css">
  </link>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.base %>static/css/iconfont/iconfont.css">
  </link>
  <!-- <link rel="stylesheet" href="/static/resource/element-ui/index.css">
  </link> -->
  <!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
  </style>
</head>

<body>
  <header class="header drag">
    <span>发起群聊</span>
    <p class="operate-menu no-drag">
      <span><i id="min" class="min icon iconfont icon-min no-drag"></i></span>
      <span><i id="close" class="close icon iconfont icon-close no-drag"></i></span>
    </p>
  </header>
  <div id="app">
  </div>
</body>

</html>